@mixin section
  width: 100%
  max-width: 100vw
  position: relative


@mixin container
  max-width: 1440px
  position: relative
  width: 100%
  margin: auto
  padding: 0 80px
  @include responsive-m()
    max-width: 568px
    padding: 0 20px


@mixin cursor
  cursor: pointer
  user-select: unset


@mixin no-margin
  margin: unset


@mixin flex($direction, $align: null, $justify: null)
  display: flex
  flex-direction: $direction
  @if $align
    align-items: $align
  @if $justify
    justify-content: $justify


@mixin grid($pos)
  display: grid
  grid-column-gap: 0px
  grid-row-gap: 0px
  @if $pos == 'row'
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr
  @if $pos == 'col'
    grid-template-columns: 1fr
    grid-template-rows: repeat(3, 1fr)


@mixin line-clamp($clamp)
  display: -webkit-box
  -webkit-box-orient: vertical
  overflow: hidden
  -webkit-line-clamp: $clamp


@mixin responsive-xs
  @media all and (max-width: 320px) 
    @content


@mixin responsive-s
  @media all and (max-width: 430px) 
    @content


// @mixin responsive-m
//   @media all and (max-width: 568px) 
//     @content


@mixin responsive-m
  @media all and (max-width: 768px), all and (orientation: landscape) and (max-width: 768px)
    @content


@mixin responsive-l
  @media all and (max-width: 994px)
    @content


@mixin responsive-xl
  @media all and (max-width: 1140px)
    @content


@mixin responsive-xxl
  @media all and (min-width: 1280px)
    @content

  
@mixin responsive-xxxl
  @media all and (min-width: 1440px)
    @content
    