.section
    width: 100%
    max-width: 100vw
    background-color: rgba(12, 16, 25, 1)
    &--grain
        background: url("../_assets/Grain.png")
        background-position: center
        background-repeat: repeat
    &--ornament
        background-image: url("../_assets/ornament-feature-bg.svg")
        background-position: 50% 20%
        background-repeat: no-repeat
.container
    @include container
    @include responsive-m()
        max-width: 568px
        padding: 0 20px

.button--gradientborder
    background-image: radial-gradient(circle at 100% 100%, transparent 9px, #008aff 9px, #008aff 11px, transparent 11px), linear-gradient(to right, #008aff, #80edb0), radial-gradient(circle at 0% 100%, transparent 9px, #80edb0 9px, #80edb0 11px, transparent 11px), linear-gradient(to bottom, #80edb0, #80edb0), radial-gradient(circle at 0% 0%, transparent 9px, #80edb0 9px, #80edb0 11px, transparent 11px), linear-gradient(to left, #80edb0, #008aff), radial-gradient(circle at 100% 0%, transparent 9px, #008aff 9px, #008aff 11px, transparent 11px), linear-gradient(to top, #008aff, #008aff)
    background-size: 11px 11px, calc(100% - 22px) 2px, 11px 11px, 2px calc(100% - 22px)
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left
    background-repeat: no-repeat
    color: #fff
    
