
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')

\:root

    --font-poppins: 'Poppins', sans-serif
    --text-heading: #28303A
    --text-body: #fff

.h1, .h2, .h3, .h4, .h5
    font-family: var(--font-poppins)
    color: var(--text-body)

.h1
    font-size: 40px
    line-height: 56px

.h2
    font-size: 32px
    line-height: 45px

.h3
    font-size: 24px
    line-height: 140%

.h4
    font-size: 20px
    line-height: 140%

.h5
    font-size: 18px
    line-height: 140%

.font-bold
    font-family: var(--font-poppins)


.text-small
    font-size: 14px
    
.uppercase
    text-transform: uppercase