.footer
    padding-bottom: 48px
    padding-top: 95px
    background-color: rgba(0, 13, 22, 1)
    @include responsive-m()
        padding-top: 40px
    &::before
        content: ''
        height: 1px
        width: 50%
        position: absolute
        bottom: 100%
        left: 0
        background: rgb(87,204,202)
        background: -moz-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: -webkit-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        z-index: 2
    &::after
        content: ''
        height: 1px
        width: 50%
        position: absolute
        top: 100%
        right: 0
        background: rgb(23,156,241)
        background: -moz-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: -webkit-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        z-index: 2
    &__information
        display: flex
        flex-direction: row
        padding-bottom: 75px
        @include responsive-m()
            padding-bottom: unset
            flex-direction: column
        &__logo
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-right: 145px
            max-width: 417px
            width: 100%
            @include responsive-m()
                margin-right: unset
                align-items: center
                text-align: center
            img
                margin-bottom: 24px
            &__paragraft
                font-family: 'Poppins'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 180%
                color: rgba(255, 255, 255, 0.7)
                max-width: 417px
                width: 100%
                margin-bottom: 16px
                @include responsive-m()
                    max-width: 332px
                    margin-bottom: 5px
                    font-size: 14px

        &__menu
            flex: 1
            display: flex
            flex-direction: row
            align-items: flex-start
            justify-content: space-between
            @include responsive-m()
                margin-top: 40px
                flex-direction: column
            &__list
                display: flex
                flex-direction: column
                @include responsive-m()
                    width: 100%
                &-wrap
                    @include flex(column)
                    @include responsive-m()
                        padding: 0px
                        transition: all 200ms ease
                        height: 0
                        overflow: hidden
                    &.active
                        @include responsive-m()
                            padding: 5px 0
                            height: auto

                &__title
                    font-size: 18px
                    font-family: 'poppins'
                    line-height: 160%
                    margin: 0
                    padding-bottom: 14px
                    color: rgba(89, 207, 200, 1)
                    position: relative
                    @include responsive-m()
                        font-size: 14px
                        @include flex(row, center)
                        &::after
                            content:''
                            position: absolute
                            right: 0
                            background: url('../_assets/arrow-down.svg')
                            width: 24px
                            height: 24px
                            transform: rotate(0deg)
                            transition: all 200ms ease
                    &.active
                        @include responsive-m()
                            &::after
                                transform: rotate(180deg)
                &__link
                    font-family: 'Poppins'
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 100%
                    color: #FFFFFF
                    margin-bottom: 1rem
                    @include responsive-m()
                        font-size: 14px
                    &:hover
                        text-decoration: underline
                        color: rgba(89, 207, 200, 1)
                    &__social
                        width: 24px
                        height: 24px
                        margin-right: 8px
                    &--media
                        font-family: 'Poppins'
                        font-style: normal
                        font-weight: 400
                        font-size: 16px
                        line-height: 100%
                        color: #FFFFFF
                        display: flex
                        flex-direction: row
                        align-items: center
                        margin-bottom: 1rem
                        
    &__copyright
        display: flex
        justify-content: center
        align-items: center
        flex-direction: row
        margin: 24px 0
        color: #fff
        font-family: 'Poppins'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 100%
        @include responsive-m()
            font-size: 14px
        span
            color: #fff
            padding: 0 8px
            margin: 0 8px
            &:first-child + span
                padding: 0
                margin: 0
                &::before
                    content: '|'
                    position: relative
                    margin-right: 16px
                    @include responsive-m()
                        margin-right: 8px
                &::after
                    content: '|'
                    position: relative
                    margin-left: 16px
                    @include responsive-m()
                        margin-left: 8px
        &__link
            &:hover
                text-decoration: underline
                color: rgba(40, 48, 58, 1)
