.section__nav
    // background: rgb(255,255,255)
    // background: -moz-linear-gradient(270deg, #ffffff00 3.26%, #ffffff00 79.83%)
    // background: -webkit-linear-gradient(270deg, #ffffff00 3.26%, #ffffff00 79.83%)
    // background: linear-gradient(270deg, #ffffff00 3.26%, #ffffff00 79.83%)
    width: 100%
    position: fixed
    z-index: 100
    background: transparent
    // backdrop-filter: blur(10px) brightness(1)
    // -webkit-backdrop-filter: blur(10px) brightness(1)
    // -moz-backdrop-filter: blur(10px) brightness(1)
    transition: all 200ms ease
    @include responsive-m()
        background: unset
    &.active
        background: #000d16
        // backdrop-filter: blur(10px) brightness(0.3)
        // -webkit-backdrop-filter: blur(10px) brightness(0.3)
        // -moz-backdrop-filter: blur(10px) brightness(0.3)
        .nav--container
            padding: 3px 80px !important
            @include responsive-m()
                padding: 10px 24px !important
    .nav--container
        @include flex(row, center, space-between)
        padding: 10px 80px !important
        background-color: transparent
        transition: all 200ms ease
        @include responsive-m()
            padding: 10px 24px !important
        &.bg
            background-color: black
    &__logo
    &__menu
        @include flex(row, center, space-between)
        font-family: 'Poppins'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 100%
        letter-spacing: -0.02em
        color: #FFFFFF
        @include responsive-m()
            display: none
            justify-content: flex-start
            position: fixed
            width: 100%
            height: 100vh
            padding: 60px 25px 25px 25px
            flex-direction: column
            top: 0
            left: 0
            bottom: auto
            right: auto
            align-items: center
            background: #000
            z-index: -1
        &.active
            display: flex
            overflow: auto
        &__link
            @include flex(row)
            @include responsive-m()
                display: flex
                width: 100%
                flex-direction: column
            a
                padding: 20px 20px
                &:hover
                    color: #fff
                    opacity: 0.5
                    @include responsive-m()
                        opacity: 1
            &__dropdown
                @include flex(column, center, center)
                cursor: pointer
                position: relative
                @include responsive-m()
                    user-select: none
                    padding: 20px 0
                &__head
                    @include flex(row, center, space-between)
                    padding: 0 20px
                    @include responsive-m()
                        width: 100%
                    &:hover
                        color: #fff
                        opacity: 0.5
                        @include responsive-m()
                            opacity: 1
                    &__arrow
                        transform: rotate(180deg)
                        width: 16px
                        height: 16px
                        margin-left: 10px
                        transition: all 200ms ease
                    &.active
                        .section__nav__menu__link__dropdown__head__arrow
                            transform: rotate(0deg)
                &__body
                    @include flex(column, center, center)
                    display: none 
                    z-index: 1
                    background-color: #111621
                    border-radius: 4px
                    border: 1px solid #232940
                    height: auto
                    position: absolute
                    top: 100%
                    @include responsive-m()
                        border: unset
                        background-color: transparent
                        position: relative
                        top: 0
                        width: 100%
                        align-items: flex-start
                        padding: 20px 25px
                    a
                        padding-bottom: 15px
                        border-bottom: 1px solid #232940
                        width: 100%
                        @include responsive-m()
                            margin: 10px 0
                            border-bottom: unset
                            padding-bottom: unset
                            padding: 5px 5px

                        &:hover
                            color: #fff
                            opacity: 0.5
                    &.active
                        display: flex
                
        &__btn-launch
            @include flex(row, center, center)
            background: linear-gradient(106.43deg, #008AFF 38.61%, #80EDB0 104.98%)
            border-radius: 8px
            color: #fff
            border: none
            padding: 10px 25px
            font-weight: 600
            font-size: 14px
            line-height: 21px
            letter-spacing: 0.4em
            @include responsive-m()
                width: 100%
                margin: 20px 0
            &__coming
                margin-left: 10px
        &__social
            @include flex(row, center, space-between)
            margin-left: 24px
            &__icon
                margin: 0 8px
                img
                    width: 40px
                    height: 40px
    &__mobile
        background-color: transparent
        border: none
        display: none 
        @include responsive-m()
            display: block
        img:last-child
            display: none
        img:first-child
            display: block
        &.active
            img:first-child
                display: none
            img:last-child
                display: block

