.section__faq
    background: transparent
    &__tittle
        @include flex(row, center, center)
        font-family: 'Poppins'
        font-style: normal
        font-weight: 600
        font-size: 48px
        line-height: 140%
        letter-spacing: -0.05em
        color: #FAFDFF
        text-align: center
        @include responsive-m()
            font-size: 24px
            max-width: 219px
            margin: auto
    &__item
        padding: 56px 0
        .accordion
            @include flex(column, flex-start)
            color: white
            margin-bottom: 24px
            height: auto
            cursor: pointer
            user-select: none
            &__head
                @include flex(row, center, space-between)
                width: 100%
                border-bottom: solid 1px #252525
                padding: 16px 0
                &__tittle
                    font-family: 'Poppins'
                    font-style: normal
                    font-weight: 500
                    font-size: 20px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    padding-right: 10px
                    @include responsive-m()
                        font-size: 18px
                &__icon
                    transform: rotate(0deg)
                    transition: all 200ms ease
            &__body
                padding: 0
                width: 100%
                height: 0
                overflow: hidden
                transition: all 200ms ease
                p
                    font-family: 'Poppins'
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 180%
                    color: #BFBFBF
                    @include responsive-m()
                        font-size: 14px
            &.active
                .accordion__body
                    padding: 16px 0
                    height: auto
                .accordion__head__icon
                    transform: rotate(180deg)


