.section__feature
    display: flex
    flex-direction: column
    font-size: calc(10px + 2vmin)
    color: white
    background: transparent
    .container
        @include flex(column, center)
    &__tittle
        @include flex(column, center)
        margin-bottom: -50px
        @include responsive-m()
            margin-bottom: -10px
        &__key
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 48px
            line-height: 140%
            text-align: center
            letter-spacing: -0.05em
            background: linear-gradient(101.07deg, #008AFF -51.27%, #59CFC8 103.58%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-clip: text
            text-fill-color: transparent
            @include responsive-m()
                font-size: 24px
    &__content, .content
        @include flex(row, center)
        justify-content: space-between
        max-width: 1170px
        width: 100%
        margin: 100px 0
        @include responsive-m()
            margin: 56px 0
            flex-direction: column
        &.reverse
            @include responsive-m()
                flex-direction: column-reverse
        &__header-text
            width: 100%
            margin: 0 28.5px
            @include responsive-m()
                margin-top: 32px
                @include flex(column, center)
                text-align: center
            &__display
                max-width: 823px
                width: 100%
                margin-bottom: 24px
                font-family: 'Poppins'
                font-style: normal
                font-weight: 600
                font-size: 48px
                line-height: 140%
                letter-spacing: -0.05em
                color: #FAFDFF
                @include responsive-m()
                    font-size: 24px
                    margin-bottom: 8px
            &__subdisplay
                max-width: 460px
                width: 100%
                font-family: 'Poppins'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 180%
                color: #BFBFBF
                margin-bottom: 32px
                @include responsive-m()
                    font-size: 14px
                    margin-bottom: 18px
            &__button-container
                width: 100%
                @include flex(flex, center, flex-start)
                @include responsive-m()
                    justify-content: center
                &__item
                    width: auto
                    padding: 18px 30px 18px 30px
                    font-family: 'Poppins'
                    font-style: normal
                    font-weight: 700
                    font-size: 14px
                    line-height: 18px
                    background-color: transparent
                    border: none
                    cursor: pointer
                    @include responsive-m()
                        padding: 15px 30px
                    &:hover
                        background-color: #008aff
                        background: rgb(0,138,255)
                        background: linear-gradient(90deg, rgba(0,138,255,1) 0%, rgba(128,237,176,1) 100%)
                        border-radius: 10px
                    

        &__header-image
            margin: 0 28.5px
            width: 100%
            height: auto
            display: flex
            justify-content: center
            &__item
                width: 100%
                @include responsive-m()
                    max-height: 306px
            img
                width: 100%