.section__hero
  background: transparent
  .hero
    @include flex(row)
    color: white
    padding-top: 250px
    padding-bottom: 150px
    overflow: hidden
    @include responsive-m()
      flex-direction: column
      padding-top: 96px
      padding-bottom: 50px
    &__header-text
      width: 100%
      display: flex
      flex-direction: column
      max-width: 517px
      margin-right: 10px
      @include responsive-m()
        margin-right: unset
        margin-bottom: 16px
      &__display
        width: 100%
        font-family: 'Poppins'
        font-style: normal
        font-weight: 300
        font-size: 48px
        line-height: 140%
        letter-spacing: -0.05em
        color: #FFFFFF
        display: inline
        margin-bottom: 24px
        @include responsive-m()
          margin-bottom: 16px
          font-size: 32px
        .span--blue
          font-weight: 600
          line-height: 140%
          letter-spacing: -0.05em
          background: linear-gradient(101.13deg, #008AFF -11.87%, #59CFC8 57.11%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          background-clip: text
          text-fill-color: transparent
        .span--white
          font-weight: 600
          line-height: 140%
          letter-spacing: -0.05em
          color: #FFFFFF


      &__subdisplay
        max-width: 487px
        width: 100%
        font-family: 'Poppins'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 180%
        color: #BFBFBF
        @include responsive-m()
          font-size: 14px
        .span--whitee
          font-weight: 600
          line-height: 180%
          text-align: center
          color: #FFFFFF



    &__header-image
      height: auto
      flex:1
      position: relative
      @include flex(row, center, center)
      &__item
        width: 710.73px
        height: 655.56px
        position: absolute
        right: -54px
        @include responsive-m()
          position: relative
          right: unset
          width: 100%
          height: auto