.section__integrated
    padding-bottom: 160px
    background: transparent
    @include responsive-m()
        padding-top: 60px
        padding-bottom: 60px
    .integrated__heading
        margin: unset
        margin-bottom: 32px
        font-weight: 600
        font-size: 48px
        line-height: 140%
        text-align: center
        letter-spacing: -0.05em
        color: #FAFDFF
        @include responsive-m()
            font-size: 24px
    .integrated__grid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(4, 1fr)
        grid-column-gap: 24px
        grid-row-gap: 24px
        max-width: 970px
        margin: auto
        @include responsive-m()
            grid-column-gap: 19px
            grid-template-columns: repeat(2, 1fr)
        &__item
            background: #111621
            border: 1px solid #232940
            border-radius: 16px
            height: 170px
            @include flex(column, center, center)
            position: relative
            padding: 12px
            @include responsive-m()
                padding-top: 32px
                justify-content: flex-start
                height: 164px
            &.soon
                &::after
                    content:''
                    background: url('../../_assets/home/coin-soon.svg') no-repeat
                    background-size: contain
                    width: 58px
                    height: 67px
                    position: absolute
                    top: 0
                    z-index: 2
                    right: 24px
                    @include responsive-m()
                        right: 14px
                        width: 36px
                        height: 42px
            &__icon
                background: #323C52
                border: 1px solid #181D31
                border-radius: 16px
                margin-bottom: 8px
                width: 56px
                height: 56px
                padding: 13px
            &__label
                font-weight: 500
                font-size: 24px
                line-height: 140%
                text-align: center
                letter-spacing: -0.05em
                color: #FAFDFF
                @include responsive-m()
                    font-size: 16px
