.section__media
    padding: 58px 0 
    background-color: rgba(0, 13, 22, 1)
    z-index: 2
    @include responsive-m()
        padding: 30px 0 
        padding-top: 50px
    &::before
        content: ''
        height: 1px
        width: 50%
        position: absolute
        bottom: 100%
        left: 0
        background: rgb(87,204,202)
        background: -moz-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: -webkit-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        z-index: 2
    &::after
        content: ''
        height: 1px
        width: 50%
        position: absolute
        top: 100%
        right: 0
        background: rgb(23,156,241)
        background: -moz-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: -webkit-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        z-index: 2
    .container
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
    &__heading
        font-weight: 600
        font-size: 40px
        line-height: 140%
        text-align: center
        letter-spacing: -0.05em
        margin-top: unset
        margin-bottom: 46px
        @include responsive-m()
            font-size: 24px
    &__media-group
        width: 100%
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 79px
        grid-row-gap: 60px
        @include responsive-m()
            grid-row-gap: 0
            grid-column-gap: 30px
            grid-template-columns: repeat(2, 1fr)
        &__item
            filter: saturate(0) brightness(0.5)
            opacity: 0.8
            transition: all 200ms ease
            width: 100%
            height: auto
            @include responsive-m()
                padding: 25px
                opacity: 1
                filter: saturate(1) brightness(1)
            &:hover
                opacity: 1
                filter: saturate(1) brightness(1)
                
    &__blur
        position: absolute
        right: 0
        top: -500px
    