.section__partner
    @extend .section__media
    background-color: transparent
    padding-top: 160px
    padding-bottom: 160px
    @include responsive-m()
        padding-top: 60px
        padding-bottom: 60px
    &::before, &::after
        display: none