.section__roadmap
    background: transparent
    padding-top: 160px
    @include responsive-m()
        padding-top: 60px
    .container
        @include flex(column, center)
    &__heading
        font-weight: 600
        font-size: 48px
        line-height: 140%
        letter-spacing: -0.05em
        margin-bottom: 64px
        @include responsive-m()
            font-size: 24px
    .roadmap-item
        @include flex(row, center)
        width: 100%
        position: relative
        padding-bottom: 48px
        @include responsive-m()
            flex-direction: column
            align-items: flex-start
            padding-left: 77px
        &:last-child
            padding-bottom: unset
            .roadmap-item__float--deactive
                top: 41%
        &__float
            position: absolute
            top:0
            left: 22%
            z-index: 0
            height: 100%
            width: 3px
            border-radius: 24px
            background: #3A3030
            @include responsive-m()
                left: 9%
            &.first
                background: rgb(87,205,202)
                background: -moz-linear-gradient(180deg, rgba(87,205,202,1) 0%, rgba(62,51,185,1) 50%, rgba(58,48,48,1) 100%)
                background: -webkit-linear-gradient(180deg, rgba(87,205,202,1) 0%, rgba(62,51,185,1) 50%, rgba(58,48,48,1) 100%)
                background: linear-gradient(180deg, rgba(87,205,202,1) 0%, rgba(62,51,185,1) 50%, rgba(58,48,48,1) 100%)
            &--active
                position: absolute
                top: 39%
                left: -26px
            &--half
                position: absolute
                top: 39%
                left: -10px
            &--deactive
                position: absolute
                top: 34%
                left: -10px
        &__title
            flex: 1
            font-weight: 600
            font-size: 40px
            line-height: 140%
            letter-spacing: -0.05em
            @include responsive-m()
                font-size: 24px
                margin-bottom: 24px
        &__box
            background: #111621
            border: 1px solid #232940
            box-sizing: border-box
            border-radius: 16px
            padding: 40px
            width: 100%
            max-width: 70%
            display: grid
            grid-template-columns: repeat(2, auto)
            grid-template-rows: auto
            grid-column-gap: 78px
            grid-row-gap: 19px
            @include responsive-m()
                padding: 32px 16px
                max-width: 100%
                grid-row-gap: 16px
                grid-template-columns: repeat(1, auto)

            &__list
                @include flex(row)
                span
                    font-weight: 500
                    font-size: 18px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    @include responsive-m()
                        font-size: 16px
                img
                    width: 24px
                    height: 24px
                    margin-right: 8px
                    filter: saturate(0)
                    margin-top: 1px
                    &.active
                        filter: saturate(1)