.section__token
    padding: 104px 0
    background-color: rgba(0, 13, 22, 1)
    z-index: 2
    @include responsive-m()
        padding: 60px 0
    &::before
        content: ''
        height: 1px
        width: 50%
        position: absolute
        bottom: 100%
        left: 0
        background: rgb(87,204,202)
        background: -moz-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: -webkit-linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        background: linear-gradient(90deg, rgba(87,204,202,1) 0%, rgba(87,204,202,0) 100%)
        z-index: 2
    &::after
        content: ''
        height: 1px
        width: 50%
        position: absolute
        top: 100%
        right: 0
        background: rgb(23,156,241)
        background: -moz-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: -webkit-linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        background: linear-gradient(86deg, rgba(23,156,241,0) 0%, rgba(23,156,241,1) 100%)
        z-index: 2
    .container
        @include flex(column, center)
    .token__heading
        font-weight: 600
        font-size: 48px
        line-height: 140%
        text-align: center
        letter-spacing: -0.05em
        color: #FAFDFF
        margin: unset
        margin-bottom: 16px
        @include responsive-m()
            font-size: 24px
            max-width: 296px
    .token__label
        font-weight: 400
        font-size: 16px
        line-height: 180%
        text-align: center
        color: #BFBFBF
        @include responsive-m()
            font-size: 16px
    .token__content
        @include flex(row, center, center)
        width: 100%
        margin-top: 64px
        @include responsive-m()
            margin-top: 30px
            flex-direction: column
        &__video
            width: 351px
            @include responsive-m()
                width: 255px
        &__grid
            width: 100%
            max-width: 570px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, auto)
            grid-column-gap: 32px
            grid-row-gap: 32px
            margin-left: 102px
            @include responsive-m()
                margin-top: 27px
                margin-left: unset
                grid-template-rows: repeat(auto)
                grid-row-gap: 24px
                grid-template-columns: repeat(1, 1fr)
            .grid-item
                @include flex(column)
                &__label
                    font-weight: 500
                    font-size: 20px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    position: relative
                    @include flex(row, center)
                    @include responsive-m()
                        font-size: 18px
                    img
                        width: 24px
                        height: 24px
                        margin-right: 8px
                &__detail
                    margin: unset
                    margin-top: 8px
                    font-weight: 400
                    font-size: 16px
                    line-height: 180%
                    color: #BFBFBF
                    @include responsive-m()
                        font-size: 14px
                &:last-child
                    grid-area: 3 / 1 / 4 / 3
                    @include responsive-m()
                        grid-area: unset
            