.section__tokenomic
    padding-top: 160px
    background: transparent
    @include responsive-m()
        padding-top: 60px
    .tokenomic__box
        border-radius: 24px
        padding: 96px 100px
        background: linear-gradient(#111621, #111621) padding-box, linear-gradient(137deg, rgba(23,156,241,1) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 55%,  rgba(87,204,202,1) 100%) border-box
        border: 1px solid transparent
        @include responsive-m()
            padding: 48px 32px
        &__top
            @include flex(row, null, space-between)
            margin-bottom: 122px
            @include responsive-m()
                margin-bottom: 16px
                flex-direction: column
            &__left
                h2
                    font-weight: 600
                    font-size: 48px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    margin: unset
                    margin-bottom: 24px
                    @include responsive-m()
                        font-size: 24px
                        text-align: center
                .item
                    font-weight: 500
                    font-size: 20px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    margin-bottom: 16px
                    @include responsive-m()
                        font-size: 16px
            &__right
                flex:1
                position: relative
                img
                    position: absolute
                    right: 0
                    top: -28px
                    @include responsive-m()
                        position: relative
                        top: unset
                        right: unset
                        width: 100%
        &__bot
            @include grid(row)
            grid-template-columns: repeat(2, auto)
            grid-column-gap: 57px
            grid-row-gap: 32px
            @include responsive-m()
                grid-row-gap: 16px
                grid-template-columns: repeat(1, auto)
            .item
                @include flex(row, center)
                &__box
                    width: 24px
                    height: 24px
                    margin-right: 16px
                    background-color: white
                span
                    font-weight: 500
                    flex: 1
                    font-size: 20px
                    line-height: 140%
                    letter-spacing: -0.05em
                    color: #FAFDFF
                    @include responsive-m()
                        font-size: 16px

    