.section__visualize
    padding-top: 100px
    z-index: 1
    padding-bottom: 160px
    background: transparent
    @include responsive-m()
        padding-bottom: 100px
    .container
        @include flex(column, center, center)
    &__label
        font-weight: 500
        font-size: 20px
        line-height: 140%
        text-align: center
        letter-spacing: 0.3em
        text-transform: uppercase
        color: #57CDCA
        margin-bottom: 16px
        @include responsive-m()
            font-size: 14px
    &__heading
        font-weight: 600
        font-size: 48px
        line-height: 140%
        text-align: center
        letter-spacing: -0.05em
        color: #FAFDFF
        @include responsive-m()
            font-size: 24px
        &--2
            @extend .section__visualize__heading
            margin-bottom: 86px
            margin-top: 160px
            @include responsive-m()
                margin-top: 80px
                margin-bottom: 40px
    &__blur
        z-index: 0
        position: absolute
        right: 0
        top: -800px
    &__dexdoimage
        width: 100%
        height: auto
        margin-top: 40px
        max-width: 719px
        // &__logo
        //     display: flex
        //     justify-content: center
        &__img
            width: 100%
            display: none
            @include responsive-m()
                display: block
        &__item
            width: 976.32px
            margin-top: -96px
            margin-bottom: -92px
            @include responsive-m()
                // margin-top: -50px
                // margin-bottom: -92px
                // width: 100%
                display: none
    &__detail
        max-width: 528px
        font-weight: 400
        font-size: 16px
        line-height: 180%
        text-align: center
        color: #BFBFBF
        margin-top: 16px
        @include responsive-m()
            font-size: 14px
    &__card-wrap
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 1fr
        grid-column-gap: 32px
        grid-row-gap: 32px
        @include responsive-m()
            grid-template-columns: repeat(1, 1fr)
    &__card
        width: 100%
        max-width: 270px
        @include flex(column)
        @include responsive-m()
            max-width: 100%
            padding: 20px 18px
        img
            margin-bottom: 25px
            width: 114px
            height: 114px
                
        label
            font-weight: 600
            font-size: 24px
            line-height: 140%
            letter-spacing: -0.05em
            color: #FAFDFF
            @include responsive-m()
                font-size: 18px
        p
            font-weight: 400
            font-size: 16px
            line-height: 180%
            color: #BFBFBF
            margin-top: 8px
            @include responsive-m()
                font-size: 14px


