@import _sass/helps/_mixin
@import _sass/_base
@import _sass/_fonts
@import _sass/navbar
@import _sass/footer
@import _sass/home

*
    position: relative
    box-sizing: border-box

body
    margin: unset
    overflow-x: hidden
    background-color: rgba(12, 16, 25, 1)
    color: white
    width: 100vw
    font-family: 'Poppins'
    &::before
        content:''
        position: fixed
        z-index: -1
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url("./_assets/the-bg-min.webp"), rgba(12, 16, 25, 1)
        background-position: center
        background-repeat: no-repeat
        background-size: 1536px auto
        @include responsive-m()
            background-size: 900px auto

li
    list-style: none
    display: inline
a
    text-decoration: none
    color: #fff


h1, h2, h3, h4, p
    margin: unset

